<img src="https://scaler-topics-articles-md.s3.us-west-2.amazonaws.com/python-list-vs-tuple-vs-dictionary-vs-set.webp" alt="Italian Trulli">


## <font color='green'>List</font>

In [1]:
# 1-List can be represented by [ ]
List_one=[1,2,3,4,"amit","learing",True,5]
print("1-Type = ",type(List_one))
print("1-Type of item = ",type(List_one[-1]))
# 2- Ordered can use the index 
print("2-Use the index to get the value = ",List_one[0])
# 3-changeable Data 
List_one[0]=5
print("3-Change the value = ",List_one)
# 4- Allow Duplicate Data 
List_one[0]=2
List_one[1]=2
print("4-Allow Duplicate Data ",List_one)
# 5 you can have Lists within Lists 
List_one[5]=[1,2,3,5,6,9]
print("5-List in the list",List_one)
# 6 Convert any datatype to list Using List() function
y =list("amit")
print('6-Convert to list ',y)

1-Type =  <class 'list'>
1-Type of item =  <class 'int'>
2-Use the index to get the value =  1
3-Change the value =  [5, 2, 3, 4, 'amit', 'learing', True, 5]
4-Allow Duplicate Data  [2, 2, 3, 4, 'amit', 'learing', True, 5]
5-List in the list [2, 2, 3, 4, 'amit', [1, 2, 3, 5, 6, 9], True, 5]
6-Convert to list  ['a', 'm', 'i', 't']

### Some Functions

#### append

In [2]:
# Append(): Add the specified item to the end of the list.
print("Before = ",List_one)
List_one.append([1,2,3,4,5,6])
print("After  = ",List_one)

Before =  [2, 2, 3, 4, 'amit', [1, 2, 3, 5, 6, 9], True, 5]
After  =  [2, 2, 3, 4, 'amit', [1, 2, 3, 5, 6, 9], True, 5, [1, 2, 3, 4, 5, 6]]

#### insert

In [3]:
# insert():  adds the specified item at the given index in the list.
print("before :",List_one)
List_one.insert(0,"machine learning")
print("After :",List_one)

before : [2, 2, 3, 4, 'amit', [1, 2, 3, 5, 6, 9], True, 5, [1, 2, 3, 4, 5, 6]]
After : ['machine learning', 2, 2, 3, 4, 'amit', [1, 2, 3, 5, 6, 9], True, 5, [1, 2, 3, 4, 5, 6]]

#### extend

In [4]:
# extend():  adds elements from the iterable to the end of the list.
print("before :",List_one)
List_one.extend([1,2,3,4,5,6])
print("After :",List_one)

before : ['machine learning', 2, 2, 3, 4, 'amit', [1, 2, 3, 5, 6, 9], True, 5, [1, 2, 3, 4, 5, 6]]
After : ['machine learning', 2, 2, 3, 4, 'amit', [1, 2, 3, 5, 6, 9], True, 5, [1, 2, 3, 4, 5, 6], 1, 2, 3, 4, 5, 6]

##### <span style="color:gold">This is the difference between extend and append
</span>

<img src="https://i.stack.imgur.com/KH5jB.png" alt="Italian Trulli">

### remove

In [5]:
# remove(): removes the first occurrence of the specified item from the list.
print("before :",List_one)
List_one.remove("machine learning")
print("After :",List_one)

before : ['machine learning', 2, 2, 3, 4, 'amit', [1, 2, 3, 5, 6, 9], True, 5, [1, 2, 3, 4, 5, 6], 1, 2, 3, 4, 5, 6]
After : [2, 2, 3, 4, 'amit', [1, 2, 3, 5, 6, 9], True, 5, [1, 2, 3, 4, 5, 6], 1, 2, 3, 4, 5, 6]

### pop

In [49]:
# pop():   removes and returns the item at the specified index in the list.
pop_one = ['amit', 'AI', 'pyhton']
print('before',pop_one)
print("return",pop_one.pop(0))
print('After',pop_one)

before ['amit', 'AI', 'pyhton']
return amit
After ['AI', 'pyhton']

### del

In [7]:
# del : removes the item at the specified index using the del statement
print("before :",List_one)
del List_one[0]
print("After :",List_one)

before : [2, 2, 'amit', [1, 2, 3, 5, 6, 9], True, 5, [1, 2, 3, 4, 5, 6], 1, 2, 3, 4, 5, 6]
After : [2, 'amit', [1, 2, 3, 5, 6, 9], True, 5, [1, 2, 3, 4, 5, 6], 1, 2, 3, 4, 5, 6]

#### Different between pop and del
####  <span style="color:gold">Pop returns returns the item  while del no</span>

### index() count() sort() reverse() clear()

In [8]:
# index() : Returns the index of the first occurrence of a specified value.
List_one.index("amit")
print("index is = ",List_one.index("amit"))
# count() : Returns the number of occurrences of a specified value.
List_two=[1,2,3,4,5,4,6,5,7]
print("count is = ",List_two.count(5))
# sort() : Sorts the list in ascending order.
List_two=[1,2,3,4,5,4,6,5,7]
List_two.sort()
print("sortes is = ",List_two)
List_two.reverse()
print("reverse is = ",List_two)
List_two.clear()
print("After clear = ",List_two)

index is =  1
count is =  2
sortes is =  [1, 2, 3, 4, 4, 5, 5, 6, 7]
reverse is =  [7, 6, 5, 5, 4, 4, 3, 2, 1]
After clear =  []

## Input fuction

In [9]:
name=input("enter your name")
id=input("enter your id")
print(name,id)

Ezz Ahmed

## <font color='green'>Tuple</font>

In [10]:
# 1-Tuple can be represented by ( )
tuple_one =(1,2,3,4,5.5,4.5,"amit",'learning')
print("1-Type =",type(tuple_one))
# 2- Ordered can use the index 
print("2- Use the index to get the value = ",tuple_one[0])

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
# 3- Unchangeable Data
# tuple_one[0]=5
# I can't change the value

# 4. Allow Duplicate Data
tuple_two=(1,1,1,2,2,2,2,2)
print("4-Allow Duplicate Data ",tuple_two)
#5. Can be nested among all (you can have lists within lists.)
tuple_three=([1,2,3,5,6,9],6.87)
print("5-List in the tupl",tuple_three)
# 6. Convert any datatype to list using Tuple() function
y =tuple("amit")
print('6-Convert to tuple ',y)

1-Type = <class 'tuple'>
2- Use the index to get the value =  1
4-Allow Duplicate Data  (1, 1, 1, 2, 2, 2, 2, 2)
5-List in the tupl ([1, 2, 3, 5, 6, 9], 6.87)
6-Convert to tuple  ('a', 'm', 'i', 't')

### <font color='red'>Note I can't use Functions like append or remove ...... etc why ?
### because tuple is unchange so to solve this problem you can  <span style="color:gold">convert  from tuble to list</span>
</font>

## <span style="color:green">Set</span>

<img src="https://favtutor.com/resources/images/uploads/Set_intersection_in_python.png" alt="Italian Trulli">

In [11]:
# 1-Set can be represented by { }
set_one={"amit","learning"}
print("1-Type =",type(set_one))

# >>>>>>>>>>>>>>>>>>>>
# 2-Unordered
# give the error because i can't access the element
# set_one[0]
# >>>>>>>>>>>>>>>>>>


# >>>>>>>>>>>>>>>>>>>>
# 3.Unchangeable Data
# give the error because i can't change the element
# set_one[0]=5
# print("3-Change the value = ",set_one)
# >>>>>>>>>>>>>>>>>>


# 4. Not allow Duplicate Data
set_one={"amit","learning","amit"}
print("4-doesn't Allow Duplicate Data ",set_one)

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#5. Can not be nested among all (you can not have lists within lists.)
# give the error because i can't but the list
# set_one={"amit","learning","amit",{1,23,2,5}}
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


# 6. Convert any datatype to list using set() function

y =tuple("amit")
print('6-Convert to tuple ',y)

1-Type = <class 'set'>
4-doesn't Allow Duplicate Data  {'amit', 'learning'}
6-Convert to tuple  ('a', 'm', 'i', 't')

### <span style="color:gold">Dictionary</span>

<img src="https://dotnettrickscloud.blob.core.windows.net/img/python/2820230312012106.webp" alt="Italian Trulli">

In [68]:
x={10:"learing",10:5,3:"learing",True:3,10:30}
x[10]

30

In [12]:
# 1-dictionary can be represented by { }
dic_one={1:"Mohamed",2:"learing",3:"learing",True:3,"Key1":30}
print("1-Type = ",type(dic_one))
# 2-ordered
print("2-Use the index to get the value = ",dic_one[True])

# 3- changeable Data
dic_one["Key1"]=5
print("3-Change the value = ",dic_one)

# 4- allow Duplicate Data as value not as a key
print("4-Allow Duplicate Data ",dic_one)

#  5 you can have Lists within dictionary
dic_one["Key1"]=[1,2,3,4,5,6,7]
print("5-List in the list",dic_one)


# 6 Convert any datatype to dictionary using dict() function
y =dict([('a',1),("b",2),('c',3)])
print('6- Convert to tuple ',y)

1-Type =  <class 'dict'>
2-Use the index to get the value =  3
3-Change the value =  {1: 3, 2: 'learing', 3: 'learing', 'Key1': 5}
4-Allow Duplicate Data  {1: 3, 2: 'learing', 3: 'learing', 'Key1': 5}
5-List in the list {1: 3, 2: 'learing', 3: 'learing', 'Key1': [1, 2, 3, 4, 5, 6, 7]}
6- Convert to tuple  {'a': 1, 'b': 2, 'c': 3}

## <span style="color:red">if</span>

### if-condition

In [13]:
a=200
b=33
if b>a:
    print("b is greater than a ")
else:
    print("a is greater than b ")

a is greater than b

#### If-Condition With Logic Operations

In [14]:
x=5
y=10
if x>0 and y>0:
    print("Both x and y are positive")

Both x and y are positive

In [15]:
age=15
if age<18 or age >=65:
    print("You are child")

You are child

In [16]:
is_raning=False
if not is_raning:
    print("It's not raining . You can go outside")

It's not raining . You can go outside

### ShortHand If - Condition

In [17]:
a=10
b=5
result= a+b if a>b else a-b
print(result)

15

In [18]:
age=21
print("Adult") if age>=18 else(print("Teenager") if age>=13 else (print("Child")))

Adult

### Nested If - Condition

In [19]:

is_sunny =True
tep=25
if  not is_sunny:
    print("It's a sunny day !")
    if tep>20:
        print("The weather is warm")
    else:
        print("The weather is cool")
else:
    print("It's not a sunny day")

It's not a sunny day

## Loop

### For loop

In [20]:
for x in "amit":
    print(x)

a
m
i
t

In [21]:
for x in "amit":
    print("python")
else:
    print("Loop finished")

python
python
python
python
Loop finished

In [22]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [23]:
for x in range(10):
    print("amit")

amit
amit
amit
amit
amit
amit
amit
amit
amit
amit

### Break , Continue ,pass

In [24]:
for i in range(6):
    if i==3:
        continue
    print(i)

0
1
2
4
5

In [25]:
for i in range(6):
    if i==3:
        break
    print(i)

0
1
2

In [26]:
for i in range(6):
    if i==3:
        pass
    print(i)

0
1
2
3
4
5

### while Loop

In [27]:
x=0 
while x<6:
    print(x)
    x+=1

0
1
2
3
4
5


## <font color='green'>Solve this problem</font>

###### 85-100 A
###### 75-85 B
###### 65-75 C
###### 50-65 D
###### <50 F

In [28]:
x=int(input('enter your grade '))

if x>=85 and x<=100:
    print('A')
elif x>=75 and x<85:
    print('B')
elif x>=65 and x<75:
    print('C')
elif x>=50 and x<65:
    print('D')
elif x<50:
    print('good luck next year')
else:
    print('enter a valid data')

ValueError: invalid literal for int() with base 10: 'Mohamed'